<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Full Band:
    <% for (var x in band) { %>
         <h3>Name: <%= band[x] %></h3>
         <hr>
     <% } %>
  </body>
</html>
