<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Fourth Instrument:
    <form action="/final" method="post">
      <button type="submit" name="piano" value="piano1"></button>
      <button type="submit" name="piano" value="piano2"></button>
      <button type="submit" name="piano" value="piano3"></button>
      <button type="submit" name="piano" value="piano4"></button>
    </form>
  </body>
</html>
