<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="first.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- jQuery/jQueryUI (hosted) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>
    <!-- Optional: Reflection -->
		<script type="SwipeFlow/text/javascript" src="reflection.js"></script>

		<!-- interpolate, depends on jQ 1.8.0+ -->
		<script src="SwipeFlow/jquery.interpolate.min.js"></script>

		<!-- Coverflow -->
		<script src="SwipeFlow/jquery.coverflow.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <audio id='beat0' src="Drums/drum1.m4a" loop></audio>
    <audio id='beat1' src="Drums/drum2.m4a" loop></audio>
    <audio id='beat2' src="Drums/drum3.m4a" loop></audio>
    <audio id='beat3' src="Drums/drum4.m4a" loop></audio>
    <audio id='beat4' src="Drums/drum5.m4a" loop></audio>

    <!-- <% for (var x in band) { %> -->
    <h1 class="<%= band[x] %>"><%= band[x] %></h1>
    <audio id='bass0' src="<%= band[x] %>"></audio>
    <hr>
<!-- <% } %> -->

    <h1 class="text-center" style="font-size: 7vw">Choose your drum track</h1>
    <div style="background-image: url('images/drums.jpg'); background-size:cover; height: 900px">
        <div class="coverflow">
            <div class="cover"><button class="btn btn-primary" id="button" style="background-image: url('images/bass1.png');"></button></div>
            <div class="cover"><button class="btn btn-primary" id="button" style="background-image: url('images/bass2.png');"></button></div>
            <div class="cover"><button class="btn btn-primary" id="button" style="background-image: url('images/bass3.png');"></button></div>
            <div class="cover"><button class="btn btn-primary" id="button" style="background-image: url('images/bass4.png');"></button></div>
            <div class="cover"><button class="btn btn-primary" id="button" style="background-image: url('images/bass5.png');"></button></div>
        </div>

      <form action="/third" method="post">
        <div class="row align-items-center justify-content-center">
          <button class="btn btn-default" id="fadeIn0" type="submit" name="drums" value="drums1">BUTTON 1</button>
          <button class="btn btn-default" id="fadeIn1" style="display:none;" type="submit" name="drums" value="drums2">BUTTON 2</button>
          <button class="btn btn-default" id="fadeIn2" style="display:none;" type="submit" name="drums" value="drums3">BUTTON 3</button>
          <button class="btn btn-default" id="fadeIn3" style="display:none;" type="submit" name="drums" value="drums4">BUTTON 4</button>
          <button class="btn btn-default" id="fadeIn4" style="display:none;" type="submit" name="drums" value="drums5">BUTTON 5</button>
        </div>
      </form>

    </div>

  </body>
  <script>
  $(function() {

    // Alphabet

    $('.coverflow').coverflow();

    $('#first').click(function() {
      $('.coverflow').coverflow('index', 0);
    });

    $('#last').click(function() {
      $('.coverflow').coverflow('index', -1);
    });

    $('#goto6').click(function() {
      $('.coverflow').coverflow('index', 6-1);	// zero-based index!
    });

    $('#keyboard').click(function() {
      $('.coverflow').coverflow('option', 'enableKeyboard', $(this).is(':checked'));
    });

    $('#wheel').click(function() {
      $('.coverflow').coverflow('option', 'enableWheel', $(this).is(':checked'));
    });

    $('#click').click(function() {
      $('.coverflow').coverflow('option', 'enableClick', $(this).is(':checked'));
    });

    /* CD covers */

    if ($.fn.reflect) {
      $('.photos .cover').reflect();
    }

    $('.photos').coverflow({
      easing:			'easeOutElastic',
      duration:		1000,
      index:			3,
      width:			320,
      height:			240,
      visible:		'density',
      selectedCss:	{	opacity: 1	},
      outerCss:		{	opacity: .1	},

      confirm:		function() {
        console.log('Confirm');
      },

      before:			function() {
        $('#photos-name').stop(true).fadeOut('fast');
      },

      select:			function(event, cover) {
        var img = $(cover).children().andSelf().filter('img').last();
        $('#photos-name').text(img.data('name') || 'unknown').stop(true).fadeIn('fast');
      },
    });

    $('#leakdetect').click(function() {
      $('#leakbucket').empty();
      for (var i = 0; i < 100; ++i) {
        $('<div><div>test</div></div>').appendTo('#leakbucket').coverflow();
      }
    });
  });
  </script>
</html>
