<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Second Instrument:
    <form action="/third" method="post">
      <button type="submit" name="drums" value="drums1"></button>
      <button type="submit" name="drums" value="drums2"></button>
      <button type="submit" name="drums" value="drums3"></button>
      <button type="submit" name="drums" value="drums4"></button>
    </form>
  </body>
</html>
