<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Third Instrument:
    <form action="/fourth" method="post">
      <button type="submit" name="bass" value="bass1"></button>
      <button type="submit" name="bass" value="bass2"></button>
      <button type="submit" name="bass" value="bass3"></button>
      <button type="submit" name="bass" value="bass4"></button>
    </form>
  </body>
</html>
